*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#principal{
    margin: 20px;
    width: 200px;
    border-radius: 50%;
}

h1{
    color: blueviolet;
}

nav{
    background-color: yellow;
}

nav ul{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:hover{
   background-color: blue; 
}

main{
    display: flex;
    padding: 20px;
    background-color: cyan;
    height: 600px;
}

main section{
    margin-left: 15px;
}

img#materia{
    height: 150px;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
}